<article class="tease tease-post" id="tease-11">
		<h2 class="h2"><a href="http://localhost:8888/2016/06/30/new-empl/">New Employee</a></h2>
		<p>DKjdkjfk… <a href="http://localhost:8888/2016/06/30/new-empl/" class="read-more">Read More</a></p>
		</article>